<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      
      <li class="main-header__item">
        <a href="/shop/products-list">Products</a>
      </li>
      <li class="main-header__item">
        <a href="/shop/cart">Cart</a>
      </li>
      <li class="main-header__item">
        <a href="/admin/add-products">Add Product</a>
      </li>
      <li class="main-header__item">
        <a href="/admin/products">Admin Product</a>
      </li>
    </ul>
  </nav>
</header>
